/*���������*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

div {
    color: white;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    position: relative;
    background: #0e0e0e;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}
/*--------------------*/

.header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 75px;
    background: rgb(rgb(58, 58, 58),.2);
}
.header__content{
    padding: 15px 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.logo{
    font-size: 36px;
    color: rgb(aliceblue,.7);
}
.burger__nav {
    width: 70px;
    height: 48px;   
    // border-radius: 22px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
  }
  .burger__nav::after,
  .burger__nav::before {
    content: '';
    width: 30px;
    height: 1.5px;
    position: absolute;
    top: 30px;
    left: 20px;
    background: rgb(aliceblue,.7);
    transition: 0.3s;
  }
  .burger__nav::before {
    top: 15px;
  }

.relative{
    position: relative;
}
.text__block{
    width: 500px;
    background: transparent;
    position: absolute;
    top: 80%;
    left: 60px;
    z-index: 100;
    outline: 3px solid rgb(#ffff,.7);
    padding: 40px;
    text-align: center;
}
.text__block__content{
    font-size: 16px;
    letter-spacing: 2px;
}
.name__slid{
    opacity: .7;
    width: 300px;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 60px;
    font-size: 24px;
    z-index: 100;
    outline: 3px solid rgb(#ffff,.7);
    padding: 40px;
}
body {
    
    background: rgb(17, 14, 14);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(24, 24, 24);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
    box-shadow: 0 0 100px rgb(#ffff,.8);
    outline: 3px solid rgb(#ffff,.7);
    position: relative;
    &::after{
        content: '';
        
    }
  }
